.Notification .check {
  width: 29%;
}



.modal-overlay {
  display: none;
  position: fixed;
  top: -54px;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
}


.modal {
  text-align: center;
  background-color: white;
  height: 473px;
  width: 373px;
  margin-top: 10%;
  padding: 27px 0;
  border-radius: 20px;
}

.close {
  margin: 10% 0 0 16px;
  cursor: pointer;
}

.close-img {
  width: 25px;
}

.check {
  width: 150px;
}

.modal-overlay h6 {
  font-weight: 500;
  font-size: 28px;
  margin: 20px 0;
}

.modal-overlay p {
  font-size: 16px;
  margin: 29px 0;
}

.modal-overlay button {
  background-color: #ac003e;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 14px;
  border-radius: 16px;
}

