@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');


.CartItem {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

}


#Name {
  text-decoration: none;
  color: #a70403;
  font-family: 'Oswalt',sans-serif;
  font-size: 17px;
}

.CartItem img {
  width: 135px;
}


#del {
  font-size: 18px;
  text-align: center;
  background-color: #ff0e0c;
  border: none;
  padding-top: 6px;
  color: wheat;
}



