.Layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "header header"
                       "video video"
                       "side-bar side-bar"
                       "aside main"
                       "footer footer";
  max-width: 947px;
  margin: 0 auto;

}



.Layout header {
  display: flex;
  align-items: center;
}

.Layout .video {
  grid-area: video;
}

.Layout .video video {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border: 1px solid red;
  height: 500px;
}


.Layout .video h1 {
    font-family: math, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 0px rgba(255,255,255,0.5);
  
}

.Layout .side-bar {
  grid-area: side-bar;
    width: 700px;
    height: 493px;
    margin: 0 auto;
    position: relative;
}

.Layout .side-bar .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.Layout .side-bar .btn button {
  background: none;
  outline: none;
  border: none;
}




.Layout .side-bar img {
  width: 100%;
  height: 100%;
}

.Layout .side-bar .btn .arrows {
  font-size: 40px;
}





.Layout header {
  grid-area: header;
    display: flex;
    justify-content: space-between
}

#icons {
  display: flex;
  align-items: center;
}

#icons .cartLink {
  margin-right: 15px;
}

.Layout aside {
  grid-area: aside;
}

.Layout main {
  grid-area: main;
}

.Layout footer {
  grid-area: footer;
}