@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');


* {
  box-sizing: border-box;
}


.Product {
  display: flex;
  flex-direction: column;
}


.value {
  color: black;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 10px;
}



.menu {
  display: flex;
}

.Product #main-img {
  max-width: 76%;
}


.Product .border-img {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}


.Product .carousel-button {
  font-size: 37px;
  color: #fff;
  font-size: 44px;
  width: 24%;
  height: 370px;
  border: none;
  background: linear-gradient(85deg, rgba(0,0,0,0.5), transparent);
  opacity: .5;
}


.Product .carousel-button.right {
  background: linear-gradient(-85deg, rgba(0,0,0,0.5), transparent);
}


.Product table tr {

    font-size: 18px;
    height: 37px;

}


.bold {
  font-weight: 500;
  font-size: initial;
}


.Product table tr {
  font-size: 18px;
  height: 37px;

}


.Product table tr:nth-child(2n+1) {
  background-color: antiquewhite;
}

