.thank {
  color: #000;
  font-size: 46px;     margin-bottom: 56px;     text-shadow: 1px 4px 3px black,1px 4px 3px black;     color: #000;
}

#info {
  font-size: 16px;
  margin-top: 0;
  text-align: center;
  text-shadow: 1px 1px 3px #000000, 1px 1px 1px #000000;
}