
.CategoryList ul {
  display: flex;
  max-width: 947px;
  padding: 0;
}


.paragaf {
  margin: 9px 0px 0px 0px;
  text-align: center;
  font-size: 20px;
  font-family: serif;
}




.CategoryList ul li {
  box-shadow: inset 0 -2em 3em rgb(0 0 0 / 17%), 0 0 0 -43px rgb(245 245 245), 0.3em 0.3em 0em rgb(0 0 0 / 40%);
  list-style: none;
  padding: 18px 54px;
}

.CategoryList ul li a:hover ~ .auto-icons {
  color: yellow;
  background-color: aqua;
  background: saddlebrown;
}

.CategoryList ul li:last-child {
    border: none;
}


.CategoryList ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: math;
  padding: 24px 25px;
}



.auto-icons {
  color: #a70403;
  font-size: 56px;
  transform: translateX(-13px);
}


.auto-icons:hover {
  color: rgb(255, 123, 0);
}




