.Nav .NavItem a {
  text-decoration: none;
  color: #a70403;
}

.Nav .NavItem a:active {
  color: #a70403;
}

.Nav .NavItem {
  list-style: none;
  padding: 10px 30px;
}

.Nav ul{
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 8px;
}

