.PopupCategory .Nav .NavItem a {
  text-decoration: none;
  color: #a70403;
}


.PopupCategory {
  grid-area: popup;
  background-image: url(http://localhost:3000/static/media/door-garage.54c80bf….jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  left: 0;
  height: 100vh;
  top: 0;
}

.PopupCategory .Nav .NavItem a:active {
  color: #a70403;
}


.PopupCategory .Nav .NavItem {
  list-style: none;
  padding: 28px 35px;
}

.PopupCategory .Nav ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin-top: 4%;
}

