.PopupCategory #Nav .NavItem a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: math;
  text-shadow: -3px -2px 0px black;
  font-size: 29px;


}





.PopupCategory {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/001/901/983/small/metallic-roller-shutter-door-free-photo.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  height: 100vh;
  top: 0;
  transition: transform 2s;
  transform: translateY(-1058px);
}



#open-garage-door {
  background-color: white;
  height: 37px;
  width: 70px;
  position: absolute;
  bottom: 0;

}

.PopupCategory #Nav .NavItem a:active {
  color: black;
  
}


.open {
 transform: translateY(0px);
}


.PopupCategory #Nav .NavItem {
  list-style: none;
  padding: 38px 17px;
}

.PopupCategory #Nav ul {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}




.PopupCategory #Nav {
  width: 79%;
  margin-top: 80px;
}
