.PopupCategory .Nav .NavItem a {
  text-decoration: none;
    color: white;
    text-align: center;
    font-family: math;
    font-size: 16px;
}


.mobile-no-scroll {
  overflow: hidden;
}


.PopupCategory {
  background-image: url(../../assets/door-garage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  height: 100vh;
  top: 0;
}



#open-garage-door {
  background-color: white;
  height: 37px;
  width: 70px;
  position: absolute;
  bottom: 0;

}

.PopupCategory .Nav .NavItem a:active {
  color: #a70403;
}


.PopupCategory .Nav .NavItem {
  list-style: none;
  padding: 28px 35px;
}

.PopupCategory .Nav ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: 4%;
}

